
.modal-content {
    border-radius: 20px;
  box-shadow: 7px 7px 10px 10px rgba(0 0 0 / 0.5);
  background-image: url("../banner.png");
  position: absolute;
  top: 10rem;
  padding: 5rem;
  margin: auto 5rem;
  display: block;
  z-index: 1;
  color: white;
}